@import "~src/sass/mixin";
.left{
  table{
    display: table;
    table-layout: auto;
    border-spacing: 10px 0.5rem;

    tr.hour{
      display: block;
      border: 1px solid lightgrey;
    }

    th, td{
      text-align: center;
    }

    input.day {
      width: 100%;
      vertical-align: middle;
      height: 20px;
      font-size:15px;
      border: 2px solid #7e7e7e;
      text-align: center;
    }
  }
}
.right{
  table{
    border-spacing: 5px 0.5rem;
    margin-top: 2%;
  }

  .error{
    @include error;
    position: relative;
    left: 100%;
    display: block;
  }
}

.single-content{
  display: inline-flex;
  margin: 25px;

  textarea{
    width: 80%;
    height: 100px;
    margin-left: 25px;
  }
}
