
<!--START FORMULAIRE D'INFORMATIONS COMPLEMENTAIRES-->
<div class="infos">
  <div class="title">
    <h1>Informations Complémentaires</h1>
    <img src="../../../../../assets/icons/down-arrow.png" alt="">
  </div>

  <form [formGroup]="infosForm">
    <div class="content">
      <div class="left">
        <table class="table">
          <tr class="hour">
            <td><label>Types d'heures</label></td>
            <td>
              <select [attr.disabled]="!display ? '' : null" formControlName="typeHour" (change)="selectedTypeHour()">
                <!--<option value="">Select</option>-->
                <option *ngFor="let typeHour of typesHours; trackBy: trackTypesHour;" [ngValue]="typeHour.name.valueOf()" >
                  {{ typeHour.name.valueOf()}}
                </option>
              </select>
            </td>
          </tr>
        </table>

        <table class="table" *ngIf="addInfos != undefined" formArrayName="daysOpen">
          <tr>
            <th></th>
            <th >{{!OpenOrClose ? 'De' : 'Avant'}}</th>
            <th>{{!OpenOrClose ? 'à' : 'De'}}</th>
            <th>{{!OpenOrClose ? 'De' : 'Jusqu\'a'}}</th>
            <th>{{!OpenOrClose ? 'à' : 'Après'}}</th>
            <th>Rdv</th>
            <th>Midi</th>
          </tr>

          <tr *ngFor="let day of daysOpenCtl; let i = index" [formGroupName]="i">
            <td>
              <label>
                {{ day.value.day }}
              </label>
            </td>

            <td>
              <span *ngIf="OpenOrClose">coucou</span>
              <input
                [attr.disabled]="!display ||  (i === 6 && isOpenSunday) ? '' : null"
                class="day" type="text" formControlName="firstStartTime" name="firstStartTime">
              <span class="error" *ngIf="day.controls.firstStartTime.hasError('invalidTime')">
                heure invalid
              </span>
            </td>

            <td>
              <input
                [attr.disabled]="!display || (i === 6 && isOpenSunday) ? '' : null"
                class="day" type="text" formControlName="firstEndTime" name="firstEndTime">
              <span class="error" *ngIf="day.controls.firstEndTime.hasError('invalidTime')">
                heure invalid
              </span>
            </td>

            <td>
              <input
                [attr.disabled]="!display || (i === 6 && isOpenSunday) ? '' : null"
                class="day" type="text" formControlName="secondStartTime" name="secondStartTime">
              <span class="error" *ngIf="day.controls.secondStartTime.hasError('invalidTime')">
                heure invalid
              </span>
            </td>

            <td>
              <input
                [attr.disabled]="!display || (i === 6 && isOpenSunday) ? '' : null"
                class="day" type="text" formControlName="secondEndTime" name="secondEndTime">
              <span class="error" *ngIf="day.controls.secondEndTime.hasError('invalidTime')">
                heure invalid
              </span>
            </td>

            <td>
              <input
                [attr.disabled]="!display || (i === 6 && isOpenSunday) ? '' : null"
                type="checkbox" formControlName="rdv" name="rdv">
            </td>

            <td>
              <input
                [attr.disabled]="!display || (i === 6 && isOpenSunday) ? '' : null"
                type="checkbox" formControlName="midday" name="midday">
            </td>
          </tr>
        </table>
        <button type="button" (click)="printMyForm()">Print to console</button>
        <!--<pre>{{infosForm.value | json}}</pre>-->
      </div>
      <hr>

      <div class="right">

        <table class="table">
          <tr>
            <th></th>
            <th>Du</th>
            <th>Au</th>
          </tr>
          <tr formGroupName="dates">
            <!--{{ infosForm.get('dates').value['holidayStart'] | json }}-->
            <td>
              <label>Congés</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null"
                     [value]="dates.value['holidayStart'] | formatDate"
                     type="date" formControlName="holidayStart" name="holidayStart">
            </td>
            <td >
              <input [attr.disabled]="!display ? '' : null"
                     [value]="dates.value['holidayEnd'] | formatDate"
                     type="date" formControlName="holidayEnd" name="holidayEnd">
            </td>
          </tr>

          <tr *ngIf="dates.errors">
              <span class="error" *ngIf="dates.hasError('validDate')">
                Date End start before blabla
              </span>
          </tr>

          <tr>
            <td>
              <label>Commentaires</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null" type="text" class="validate" formControlName="comments" name="comments">
            </td>
            <td>
              <span class="msgUser"> (50 car. Max)</span>
            </td>
          </tr>

          <tr *ngIf="commentsCtl.errors">
            <span class="error" *ngIf="commentsCtl.hasError('maxlength')">
              Maximum 50 caractères
            </span>
          </tr>

          <tr>
            <td>
              <label>Ouvert le dimanche</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null" (change)="isOpenSunday" type="checkbox" class="validate" formControlName="openOnSunday" name="openOnSunday">
            </td>
          </tr>

          <tr>
            <td>
              <label>buttonCTA</label>
            </td>
            <td>
              <input
                [attr.disabled]="!display ? '' : null"
                [attr.type]="display ? 'text' : 'button'"
                id="buttonCTA" class="validate" formControlName="buttonCTA" name="buttonCTA" value="buttonCTA">
            </td>
            <td>
              <span class="msgUser"> (20 car. Max)</span>
            </td>
          </tr>

          <tr *ngIf="infosForm.controls['buttonCTA'].errors">
            <span class="error" *ngIf="infosForm.controls['buttonCTA'].errors.maxlength">
              Maximum 20 caractères
            </span>
          </tr>
        </table>
      </div>

      <div class="single-content">
        <label>Mots du commencant</label>
        <textarea [attr.disabled]="!display ? '' : null" id="wordsTrader" type="text" class="validate" formControlName="wordsTrader" name="wordsTrader">
        </textarea>
      </div>
    </div>
  </form>
</div>

<!-- END FORMULAIRE D'INFORMATIONS COMPLEMENTAIRES-->
