$fontSize: 16px!default;

@mixin font($fontSize: default, $type: '') {
  font: normal normal $type $fontSize arial;
}

@mixin model {
  border: 1px solid black;
  width: 100%;
  background-color: red;
}

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin title {
  background: linear-gradient(to bottom, #b0e0e6,darken(#b0e0e6, 20%) );
  //#7C989C);
  border-bottom: 1px solid grey;
  cursor: pointer;
  box-shadow: darkgrey 0 2px 5px;
  text-shadow: darkgrey 1px 3px 1px;
}

@mixin error{
    color: red;
}
@mixin button {
  display: inline-block;
  border: 1px solid grey;
  background: #23eb8b;
  background: -webkit-gradient(linear, left top, left bottom, from(#23eb8b), to(darken(#23eb8b, 20%)));
  background: -moz-linear-gradient(top, #23eb8b, darken(#23eb8b, 20%));
  background: linear-gradient(to bottom, #23eb8b, darken(#23eb8b, 20%));
  text-shadow: #0e5b36 1px 1px 1px;
  font: normal normal bold 20px arial;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 20px;
  margin: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
}

@mixin buttonEdit {
  @include button;
  background: burlywood;
  background: -webkit-gradient(linear, left top, left bottom, from(burlywood), to(darken(burlywood, 20%)));
  background: -moz-linear-gradient(top, burlywood, darken(burlywood, 20%));
  background: linear-gradient(to bottom, burlywood, darken(burlywood, 20%));
}

@mixin infos {
  text-align: center;
  padding: 1% 1%;
  border: 1px solid lighten(#ff0000, 30%);
  margin: 1% 0;
  //margin-bottom: 1%;
  font-weight: bold;
}
@mixin imgDisplay {
  background: lighten(#7e7e7e, 50%);
  opacity: 0.5;
  cursor: pointer;
  position:relative;
  top:43%;
  margin: 0 10px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: #7e7e7e 2px 5px 5px;
}
