@import "~src/sass/mixin";
div{
  table{
    border-spacing: 10px 0.2rem;
    td:first-of-type{
      width: 10%;
    }
    td:nth-of-type(1n){
      text-align: right;
      label{
        margin-right: 25px;
      }
    }
    td:nth-of-type(2n){
      text-align: justify;
    }
    td{
      width:20%;
      input{
        width: 70%;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .content{
    table{
      border-spacing: 34px 2.2rem;
      tr{
        display: inline-flex;
        flex-direction: column;
        td{
          width: auto!important;
          text-align: left;
          margin-top: 5px;
        }
        &:nth-of-type(3) td{
          &:nth-of-type(1), &:nth-of-type(2){
            display: none;
          }

        }
      }
    }
  }
}



