
<!--START FORMULAIRE INFORMATIONS LEGALES-->
<div class="legal">
  <div class="title">

    <h1>Informations légales</h1>
    <img src="../../../../../assets/icons/down-arrow.png" alt="">
  </div>
  <div class="content">
    <div class="single-content">
      <form [formGroup]="legalInfosForm">
        <table class="table">
          <tr>
            <td>
              <label> Entité légale*</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null" type="text" formControlName="legalEntity" name="legalEntity">
            </td>
            <td>
              <label> Nom & Prénom représentant*</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null" type="text" formControlName="ownerName" name="ownerName">
            </td>
          </tr>

          <tr>
            <td>
              <label> N°BCE ou TVA*</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null" type="text" formControlName="numBceOrTva" name="numBceOrTva">
            </td>
            <td>
              <label> Téléphone représentant*</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null" type="text" formControlName="phoneOwner" name="phoneOwner">
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>
              <label> Email représentant*</label>
            </td>
            <td>
              <input [attr.disabled]="!display ? '' : null" type="text" formControlName="emailOwner" name="emailOwner">
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<!--END FORMULAIRE INFORMATIONS LEGALES-->
