
<div class="container">
  <div class="center">
    <a class="btn" type="submit"
            (click)="showShop()"
            [attr.clicked]="!switchDisplay ? '' : null"
            [ngStyle]="!switchDisplay && {'background-color':'green'}">Voir</a>

    <a class="btn-edit" type="submit"
            (click)="editShop()"
            [attr.clicked]="!switchDisplay ? '' : null"
            [ngStyle]="switchDisplay && {'background-color':'green'}">Edit</a>
  </div>
  <div class="error_box" *ngIf="msgErrors">
      <span class="error" *ngFor="let msgError of msgErrors">
      {{ msgError }}
      </span>
  </div>

  <app-shop-form [display]="switchDisplay"></app-shop-form>
  <app-add-info-form [display]="switchDisplay"></app-add-info-form>
  <app-media-form [display]="switchDisplay"></app-media-form>
  <app-legal-info-form [display]="switchDisplay"></app-legal-info-form>

  <div class="center">
    <a class="btn" type="submit"
            (click)="showShop()"
            [attr.clicked]="!switchDisplay ? '' : null"
            [ngStyle]="!switchDisplay && {'background-color':'green'}">Voir</a>
    <a class="btn-edit" type="submit"
            (click)="editShop()"
            [attr.clicked]="!switchDisplay ? '' : null"
            [ngStyle]="switchDisplay && {'background-color':'green'}">Edit</a>
  </div>
</div>
