@import "~src/sass/mixin";
.container {
  width: calc(100% - 4px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  background-color: whitesmoke;
  border-radius: 2px;
  border: 2px solid black;
  margin: 25px 0;
  @include font();
  .center{
    @include push--auto;
    .btn {
      @include button;
    }
    .btn-edit {
      @include buttonEdit;
    }
  }

  .error{
    @include infos;
    @include error;
    padding: 0 5px;
    margin: 0 5px;
    &_box {
      display: block;
      margin: 5px 5px;
      @include push--auto;
    }
  }
}
@media all and (max-width: 800px) {
  .container {
    /*!* When on medium sized screens, we center it by evenly distributing empty space around items *!*/
    justify-content: space-around;
    background-color: grey;
  }
}

/*!* Small screens *!*/
@media all and (max-width: 500px) {
  .container {
    /*!* On small screens, we are no longer using row direction but column *!*/
    flex-direction: column;
  }
  .media{
    .gallery{
      flex-direction: column;
    }
  }
}
