<!--&lt;!&ndash;START FORMULAIRE MEDIA&ndash;&gt;-->
<div class="media">
  <div class="title">

    <h1>Media</h1>
    <img src="../../../../../assets/icons/down-arrow.png" alt="">
  </div>

  <div class="content">
    <div id="info_upload">
      Infos : La taille d'upload de fichier recommandé est de 1.5Mo
    </div>
    <div class="single-content">

      <form [formGroup]="mediaForm">
        <div class="owner-img">
          <table class="table">
            <tr>
              <td>
                <label class="image-upload-container btn btn-bwm">
                  Logo
                </label>
              </td>
              <td>
                <div *ngIf="logoImage.src !== '' " class="img-preview-container">
                  <!--<div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"-->
                  <div class="img-preview"
                       [ngStyle]="{'background-image': 'url('+  logoImage.src + ')'}">
                  </div>

                </div>
                <div>
                  <input #imgInputLogo
                         id="logo"
                         style="display: none"
                         type="file"
                         accept="image/*"
                         (change)="processFile(imgInputLogo)">
                  <img *ngIf="display" src="../../../../../assets/icons/add.png" (click)="imgInputLogo.click()">
                </div>

              </td>

              <td>
                <label class="image-upload-container btn btn-bwm">
                  Video
                </label>
              </td>
              <td>


                <div *ngIf="videoImage.src !== '' " class="img-preview-container">
                  <!--<div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"-->
                  <div class="img-preview"
                       [ngStyle]="{'background-image': 'url('+  videoImage.src + ')'}">
                  </div>

                </div>
                <div>
                  <input #imgInputVideo
                         id="video"
                         style="display: none"
                         type="file"
                         accept="image/*"
                         (change)="processFile(imgInputVideo)">
                  <img *ngIf="display" src="../../../../../assets/icons/add.png" (click)="imgInputVideo.click()">
                </div>
              </td>

              <td>
                <label class="image-upload-container btn btn-bwm">
                  Photo du Commerçant
                </label>
              </td>
              <td>
                <div *ngIf="ownerImage.src !== ''" class="img-preview-container">
                  <div class="img-preview"
                       [ngStyle]="{'background-image': 'url('+ ownerImage.src + ')'}">
                  </div>

                </div>
                <div>
                  <input #imgInputOwner
                         id="owner"
                         style="display: none"
                         type="file"
                         accept="image/*"
                         (change)="processFile(imgInputOwner)">
                  <img *ngIf="display" src="../../../../../assets/icons/add.png" (click)="imgInputOwner.click()">
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="gallery-content" *ngIf="galleryImage != undefined">
          <table class="table">
            <tr>
              <td>
                <label>Galerie Photos</label>
              </td>
              <td class="gallery" *ngFor="let media of galleryImage; trackBy: trackGallery; index as i;">
                <div [ngClass]="(display)? '' : 'margin'" *ngIf="media" class="img-preview-container">
                  <div class="img-preview"
                       [ngStyle]="{'background-image': 'url('+ media.src + ')'}">
                  </div>

                </div>
                <div>
                  <input #imageInput
                         [id]="'gallery_' + i"
                         style="display: none"
                         type="file"
                         accept="image/*"
                         (change)="processFile(imageInput)">
                  <img *ngIf="display" src="../../../../../assets/icons/add.png" (click)="imageInput.click()">
                </div>
              </td>
            </tr>
          </table>

        </div>
      </form>
    </div>

  </div>

</div>
<!--&lt;!&ndash;END FORMULAIRE MEDIA&ndash;&gt;-->
