@import "~src/sass/mixin";
.content{
  padding: 0px 0px!important;
}
.media{
  #info_upload{
    @include infos;
  }
  .gallery-content{
    margin-top: 15px;
    margin-bottom: 25px;
  }
  td:first-child{
    width: 10%;
  }
  .single-content{
    .owner-img{
      table{
        display: table;
        td:not(:nth-of-type(1)){
        }
        td:nth-of-type(2n){
          margin-right: 7%;
        }
      }
    }
  }

  table{
    width: 100%;
    tr{
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;

    }
    td:nth-of-type(1n) label{
      padding: 0 12px;
    }
    tr>td{
      display: inline-flex;
      justify-content: right;
      margin: 5px 0;

      .img-preview-container{
        border: 1px solid darkgrey;
        box-shadow: #7e7e7e 2px 5px 5px;
        .img-preview{
          background: center center no-repeat;
          background-size: contain;
          width: 150px;
          height: 100px;
          display: block;
        }
      }
      div>img {
      @include imgDisplay;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .content {
    /*!* When on medium sized screens, we center it by evenly distributing empty space around items *!*/
    justify-content: space-around;
  }
}
