table:first-of-type{

}
//.left, .right{
//  table{
//    border-spacing: 15px 0.7rem;
//  }
//}
//
//.left{
//  table{
//    // tab prend toute la longeur de la div
//    display: table-cell;
//    //width: 100%;
//    width: 45%;
//  }
//}
//.right {
//table{
//
//  display: inline-table;
//  width: 100%;
//}
//  td:nth-child(1) {
//    width: 20%;
//  }
//  textarea{
//    width: 99%;
//    height: 200px;
//
//  }
//}
