  <!--FORMULAIRE DE BASE-->
  <div class="shop">
    <div class="title">
    <h1>Informations de base</h1>
    <img src="../../../../../assets/icons/down-arrow.png" alt="">
    </div>
    <form [formGroup]="shopDataForm">
      <div class="content">
        <div class="left">

          <table class="table">

            <tr>
              <td>
                <label>Nom Commercial*</label>
              </td>
              <td>

                <input #nameRef *ngIf="display; else displayName" type="text" class="validate" formControlName="name" name="name" required>
                <small class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
                  Le nom est require
                </small>
                <ng-template #displayName> {{ shop.name }}</ng-template>
              </td>
            </tr>

            <tr>
              <td>
                <label>Adresse Commerciale*</label>
              </td>
              <td>
                <input *ngIf="display; else displayAdress" type="text" class="validate" formControlName="adress" name="adress" required>
                <small class="error" *ngIf="adress.invalid && (adress.dirty || adress.touched)">
                  L'adresse est require
                </small>
                <ng-template #displayAdress> {{ shop.adress }}</ng-template>
              </td>
            </tr>

            <tr>
              <td>
                <label>Code Postal*</label>
              </td>
              <td>
                <input *ngIf="display; else displayZip" type="text" class="validate" formControlName="zipCode" name="zipCode" required>
                <ng-template #displayZip> {{ shop.zipCode }}</ng-template>
                <span *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
                  <small *ngIf="zipCode.errors?.required">
                  Zip code require
                </small>
                <small *ngIf="zipCode.hasError('invalidZip')">
                Zip code invalid only!
              </small>
                </span>

              </td>
            </tr>

            <tr>
              <td>
                <label>Ville*</label>
              </td>
              <td>
                <input *ngIf="display; else displayTown" type="text" class="validate" formControlName="town" name="town" required>
                <ng-template #displayTown> {{ shop.town }}</ng-template>
              </td>
            </tr>

            <tr>
              <td>
                <label>Telephone*</label>
              </td>
              <td>
                <input *ngIf="display; else displayPhone" type="tel" class="validate" formControlName="phone" name="phone" >
                <ng-template #displayPhone> {{ shop.phone }}</ng-template>
                <small class="error" *ngIf="phone.touched && phone.hasError('invalidPhone')">
                Numéro de telephone invalide!
              </small>
              </td>
            </tr>

            <tr>
              <td>
                <label>Portable</label>
              </td>
              <td>
                <input *ngIf="display; else displayMobile" type="tel" class="validate" formControlName="mobilePhone" name="mobilePhone" required>
                <ng-template #displayMobile> {{ shop.mobilePhone }}</ng-template>
                <small class="error" *ngIf="mobilePhone.touched && mobilePhone.hasError('invalidMobile')">
                Numéro de telephone invalide!
              </small>
              </td>
            </tr>

            <tr>
              <td>
                <label>Fax</label>
              </td>
              <td>
                <input *ngIf="display; else displayFax" type="tel" class="validate" formControlName="fax" name="fax">
                <ng-template #displayFax> {{ shop.fax }}</ng-template>
                <small class="error" *ngIf="fax.touched && fax.hasError('invalidPhone')">
                Numéro de fax invalide!
              </small>
              </td>
            </tr>

            <tr>
              <td>
                <label>Email</label>
              </td>
              <td>
                <input *ngIf="display; else displayEmail" type="email" class="validate" formControlName="email" name="email" required>
                <ng-template #displayEmail> {{ shop.email }}</ng-template>
              </td>
            </tr>

            <tr>
              <td>
                <label>Site Web</label>
              </td>
              <td>
                <input *ngIf="display; else displayWeb" type="text" class="validate" formControlName="webSite" name="webSite">
                <ng-template #displayWeb> {{ shop.webSite }}</ng-template>

              </td>
            </tr>
            <!--<pre>{{shopDataForm.value | json}}</pre>-->

            <tr>
              <td>
                <label>Nom & Prénom Contact*</label>
              </td>
              <td>
                <input *ngIf="display; else displayContact" type="text" class="validate" formControlName="contactName" name="contactName" required>
                <ng-template #displayContact> {{ shop.contactName }}</ng-template>
              </td>
            </tr>

            <tr>
              <td>
                <label>Secteur*</label>
              </td>
              <td formGroupName="sectorsGroup">
                <select *ngIf="display; else displaySectors" class="choice" formControlName="sector" name="sector" (change)="onChange($event.target.value)">
                  <option value="">Select</option>
                  <option [id]="sector.id " *ngFor="let sector of sectors" [ngValue]="sector.name">
                    {{ sector.name}}
                  </option>
                </select>
                <ng-template #displaySectors> {{ sector.value }}</ng-template>
              </td>
            </tr>

            <tr>
              <td>
                <label>Sous secteur*</label>
              </td>
              <td formGroupName="sectorsGroup">
                <select *ngIf="display; else displaySubSectors" class="choice" formControlName="subSector">
                  <option value="">Select</option>
                  <option *ngFor="let subSector of subSectors" [ngValue]="subSector.name">
                    {{ subSector.name}}
                  </option>
                </select>
                <ng-template #displaySubSectors> {{ subSector.value }}</ng-template>
              </td>
            </tr>
          </table>
        </div>

        <hr>
        <div class="right">
          <table class="table">
            <tr>
              <td>
                <label>Description</label>
              </td>
              <td>
              <textarea [attr.disabled]="!display ? '' : null" type="text" class="validate" formControlName="description" name="description">
        </textarea>
              </td>
            </tr>
            <tr>
              <td>
                <label>Cente-Ville</label>
              </td>
              <td>
                <input [attr.disabled]="!display ? '' : null" type="checkbox" class="validate" formControlName="townCenter" name="townCenter">
              </td>
            </tr>
            <tr>
              <td>
                <label>Accès PMR</label>
              </td>
              <td>
                <input [attr.disabled]="!display ? '' : null" type="checkbox" class="validate" formControlName="accessPMR" name="accessPMR">
              </td>
            </tr>
          </table>

        </div>

      </div>
    </form>
  </div>
