//@import "sass/tables";
@import "sass/mixin";
//table {
//  @extend %table;
//  td{
//    border-top: none!important;
//  }
//}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.shop, .infos,
.media, .legal{
  @include push--auto;
  width: 97%;
  margin-bottom: 25px;
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: grey 2px 5px 5px;
  .title{

    @include title;
    h1{
      margin-left: 25px;
      display: inline;
    }
    img{
      margin-left: 25px;
    }
  }

  .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue ;
    padding: 25px 100px;
    .left, .right{
      width: 45%;
      label{
        display: block;
        text-align: right;
      }
      hr{
        width : 10px;
        height : auto;
        opacity: 0.1;
      }
    }
    .error{
      @include error;
    }
    .single-content{
      width: 100%;
      //table{
      //  width: 100%;
      //}
    }

  }
}
@media all and (max-width: 800px) {
  .content{
    display: flex;
    flex-direction: column;
    align-content: center;
    .left, .right{
      // reset width
      width: auto !important;
    }
  }
  div>.title{
    text-align: center;
  }
}

/*!* Small screens *!*/
@media all and (max-width: 500px) {
  .content{
    align-content: center;
  }
  table{
    display: inline-flex;
    text-align: center;
    width: auto;
    margin: auto;
    td label{
      text-align: left;
    }
  }
  .media{
    .gallery{
      flex-direction: column;
    }
  }
}

